Project/Gateway/src/main/resources/localhost.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
                  xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="services.spotify.soap" targetNamespace="services.spotify.soap" name="Application">
    <wsdl:types>
        <xs:schema targetNamespace="services.spotify.soap" elementFormDefault="qualified">
            <xs:complexType name="integerArray">
                <xs:sequence>
                    <xs:element name="integer" type="xs:integer" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_roles"/>
            <xs:complexType name="logoutResponse"/>
            <xs:complexType name="stringArray">
                <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="authorize">
                <xs:sequence>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="authorizeResponse">
                <xs:sequence>
                    <xs:element name="authorizeResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_user">
                <xs:sequence>
                    <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_userResponse">
                <xs:sequence>
                    <xs:element name="create_userResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_user_role">
                <xs:sequence>
                    <xs:element name="user_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="role_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="create_user_roleResponse">
                <xs:sequence>
                    <xs:element name="create_user_roleResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delete_user_by_id">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delete_user_by_idResponse">
                <xs:sequence>
                    <xs:element name="delete_user_by_idResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delete_user_by_username">
                <xs:sequence>
                    <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delete_user_by_usernameResponse">
                <xs:sequence>
                    <xs:element name="delete_user_by_usernameResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_rolesResponse">
                <xs:sequence>
                    <xs:element name="get_rolesResult" type="tns:integerArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_by_id">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_by_idResponse">
                <xs:sequence>
                    <xs:element name="get_user_by_idResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_by_username">
                <xs:sequence>
                    <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_by_usernameResponse">
                <xs:sequence>
                    <xs:element name="get_user_by_usernameResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_roles">
                <xs:sequence>
                    <xs:element name="user_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_usersnames">
                <xs:sequence>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="logout">
                <xs:sequence>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_password">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="new_password" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_passwordResponse">
                <xs:sequence>
                    <xs:element name="update_passwordResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_user_role">
                <xs:sequence>
                    <xs:element name="user_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="old_role_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="new_role_id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_user_roleResponse">
                <xs:sequence>
                    <xs:element name="update_user_roleResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_username">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
                    <xs:element name="new_name" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update_usernameResponse">
                <xs:sequence>
                    <xs:element name="update_usernameResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verify_login_details">
                <xs:sequence>
                    <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verify_login_detailsResponse">
                <xs:sequence>
                    <xs:element name="verify_login_detailsResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verify_role_integrity">
                <xs:sequence>
                    <xs:element name="token" type="xs:string" minOccurs="0" nillable="true"/>
                    <xs:element name="allowed_roles" type="tns:integerArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="verify_role_integrityResponse">
                <xs:sequence>
                    <xs:element name="verify_role_integrityResult" type="xs:string" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_user_rolesResponse">
                <xs:sequence>
                    <xs:element name="get_user_rolesResult" type="tns:integerArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_usersnamesResponse">
                <xs:sequence>
                    <xs:element name="get_usersnamesResult" type="tns:stringArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="integerArray" type="tns:integerArray"/>
            <xs:element name="get_roles" type="tns:get_roles"/>
            <xs:element name="logoutResponse" type="tns:logoutResponse"/>
            <xs:element name="stringArray" type="tns:stringArray"/>
            <xs:element name="authorize" type="tns:authorize"/>
            <xs:element name="authorizeResponse" type="tns:authorizeResponse"/>
            <xs:element name="create_user" type="tns:create_user"/>
            <xs:element name="create_userResponse" type="tns:create_userResponse"/>
            <xs:element name="create_user_role" type="tns:create_user_role"/>
            <xs:element name="create_user_roleResponse" type="tns:create_user_roleResponse"/>
            <xs:element name="delete_user_by_id" type="tns:delete_user_by_id"/>
            <xs:element name="delete_user_by_idResponse" type="tns:delete_user_by_idResponse"/>
            <xs:element name="delete_user_by_username" type="tns:delete_user_by_username"/>
            <xs:element name="delete_user_by_usernameResponse" type="tns:delete_user_by_usernameResponse"/>
            <xs:element name="get_rolesResponse" type="tns:get_rolesResponse"/>
            <xs:element name="get_user_by_id" type="tns:get_user_by_id"/>
            <xs:element name="get_user_by_idResponse" type="tns:get_user_by_idResponse"/>
            <xs:element name="get_user_by_username" type="tns:get_user_by_username"/>
            <xs:element name="get_user_by_usernameResponse" type="tns:get_user_by_usernameResponse"/>
            <xs:element name="get_user_roles" type="tns:get_user_roles"/>
            <xs:element name="get_usersnames" type="tns:get_usersnames"/>
            <xs:element name="logout" type="tns:logout"/>
            <xs:element name="update_password" type="tns:update_password"/>
            <xs:element name="update_passwordResponse" type="tns:update_passwordResponse"/>
            <xs:element name="update_user_role" type="tns:update_user_role"/>
            <xs:element name="update_user_roleResponse" type="tns:update_user_roleResponse"/>
            <xs:element name="update_username" type="tns:update_username"/>
            <xs:element name="update_usernameResponse" type="tns:update_usernameResponse"/>
            <xs:element name="verify_login_details" type="tns:verify_login_details"/>
            <xs:element name="verify_login_detailsResponse" type="tns:verify_login_detailsResponse"/>
            <xs:element name="verify_role_integrity" type="tns:verify_role_integrity"/>
            <xs:element name="verify_role_integrityResponse" type="tns:verify_role_integrityResponse"/>
            <xs:element name="get_user_rolesResponse" type="tns:get_user_rolesResponse"/>
            <xs:element name="get_usersnamesResponse" type="tns:get_usersnamesResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="create_user">
        <wsdl:part name="create_user" element="tns:create_user"/>
    </wsdl:message>
    <wsdl:message name="create_userResponse">
        <wsdl:part name="create_userResponse" element="tns:create_userResponse"/>
    </wsdl:message>
    <wsdl:message name="get_usersnames">
        <wsdl:part name="get_usersnames" element="tns:get_usersnames"/>
    </wsdl:message>
    <wsdl:message name="get_usersnamesResponse">
        <wsdl:part name="get_usersnamesResponse" element="tns:get_usersnamesResponse"/>
    </wsdl:message>
    <wsdl:message name="get_user_by_id">
        <wsdl:part name="get_user_by_id" element="tns:get_user_by_id"/>
    </wsdl:message>
    <wsdl:message name="get_user_by_idResponse">
        <wsdl:part name="get_user_by_idResponse" element="tns:get_user_by_idResponse"/>
    </wsdl:message>
    <wsdl:message name="get_user_by_username">
        <wsdl:part name="get_user_by_username" element="tns:get_user_by_username"/>
    </wsdl:message>
    <wsdl:message name="get_user_by_usernameResponse">
        <wsdl:part name="get_user_by_usernameResponse" element="tns:get_user_by_usernameResponse"/>
    </wsdl:message>
    <wsdl:message name="update_username">
        <wsdl:part name="update_username" element="tns:update_username"/>
    </wsdl:message>
    <wsdl:message name="update_usernameResponse">
        <wsdl:part name="update_usernameResponse" element="tns:update_usernameResponse"/>
    </wsdl:message>
    <wsdl:message name="update_password">
        <wsdl:part name="update_password" element="tns:update_password"/>
    </wsdl:message>
    <wsdl:message name="update_passwordResponse">
        <wsdl:part name="update_passwordResponse" element="tns:update_passwordResponse"/>
    </wsdl:message>
    <wsdl:message name="delete_user_by_id">
        <wsdl:part name="delete_user_by_id" element="tns:delete_user_by_id"/>
    </wsdl:message>
    <wsdl:message name="delete_user_by_idResponse">
        <wsdl:part name="delete_user_by_idResponse" element="tns:delete_user_by_idResponse"/>
    </wsdl:message>
    <wsdl:message name="delete_user_by_username">
        <wsdl:part name="delete_user_by_username" element="tns:delete_user_by_username"/>
    </wsdl:message>
    <wsdl:message name="delete_user_by_usernameResponse">
        <wsdl:part name="delete_user_by_usernameResponse" element="tns:delete_user_by_usernameResponse"/>
    </wsdl:message>
    <wsdl:message name="create_user_role">
        <wsdl:part name="create_user_role" element="tns:create_user_role"/>
    </wsdl:message>
    <wsdl:message name="create_user_roleResponse">
        <wsdl:part name="create_user_roleResponse" element="tns:create_user_roleResponse"/>
    </wsdl:message>
    <wsdl:message name="get_user_roles">
        <wsdl:part name="get_user_roles" element="tns:get_user_roles"/>
    </wsdl:message>
    <wsdl:message name="get_user_rolesResponse">
        <wsdl:part name="get_user_rolesResponse" element="tns:get_user_rolesResponse"/>
    </wsdl:message>
    <wsdl:message name="update_user_role">
        <wsdl:part name="update_user_role" element="tns:update_user_role"/>
    </wsdl:message>
    <wsdl:message name="update_user_roleResponse">
        <wsdl:part name="update_user_roleResponse" element="tns:update_user_roleResponse"/>
    </wsdl:message>
    <wsdl:message name="get_roles">
        <wsdl:part name="get_roles" element="tns:get_roles"/>
    </wsdl:message>
    <wsdl:message name="get_rolesResponse">
        <wsdl:part name="get_rolesResponse" element="tns:get_rolesResponse"/>
    </wsdl:message>
    <wsdl:message name="verify_login_details">
        <wsdl:part name="verify_login_details" element="tns:verify_login_details"/>
    </wsdl:message>
    <wsdl:message name="verify_login_detailsResponse">
        <wsdl:part name="verify_login_detailsResponse" element="tns:verify_login_detailsResponse"/>
    </wsdl:message>
    <wsdl:message name="logout">
        <wsdl:part name="logout" element="tns:logout"/>
    </wsdl:message>
    <wsdl:message name="logoutResponse">
        <wsdl:part name="logoutResponse" element="tns:logoutResponse"/>
    </wsdl:message>
    <wsdl:message name="authorize">
        <wsdl:part name="authorize" element="tns:authorize"/>
    </wsdl:message>
    <wsdl:message name="authorizeResponse">
        <wsdl:part name="authorizeResponse" element="tns:authorizeResponse"/>
    </wsdl:message>
    <wsdl:message name="verify_role_integrity">
        <wsdl:part name="verify_role_integrity" element="tns:verify_role_integrity"/>
    </wsdl:message>
    <wsdl:message name="verify_role_integrityResponse">
        <wsdl:part name="verify_role_integrityResponse" element="tns:verify_role_integrityResponse"/>
    </wsdl:message>
    <wsdl:service name="IDMService">
        <wsdl:port name="Application" binding="tns:Application">
            <wsdlsoap11:address location="http://localhost:8000/"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Application">
        <wsdl:operation name="create_user" parameterOrder="create_user">
            <wsdl:input name="create_user" message="tns:create_user"/>
            <wsdl:output name="create_userResponse" message="tns:create_userResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_usersnames" parameterOrder="get_usersnames">
            <wsdl:input name="get_usersnames" message="tns:get_usersnames"/>
            <wsdl:output name="get_usersnamesResponse" message="tns:get_usersnamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_user_by_id" parameterOrder="get_user_by_id">
            <wsdl:input name="get_user_by_id" message="tns:get_user_by_id"/>
            <wsdl:output name="get_user_by_idResponse" message="tns:get_user_by_idResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_user_by_username" parameterOrder="get_user_by_username">
            <wsdl:input name="get_user_by_username" message="tns:get_user_by_username"/>
            <wsdl:output name="get_user_by_usernameResponse" message="tns:get_user_by_usernameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update_username" parameterOrder="update_username">
            <wsdl:input name="update_username" message="tns:update_username"/>
            <wsdl:output name="update_usernameResponse" message="tns:update_usernameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update_password" parameterOrder="update_password">
            <wsdl:input name="update_password" message="tns:update_password"/>
            <wsdl:output name="update_passwordResponse" message="tns:update_passwordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="delete_user_by_id" parameterOrder="delete_user_by_id">
            <wsdl:input name="delete_user_by_id" message="tns:delete_user_by_id"/>
            <wsdl:output name="delete_user_by_idResponse" message="tns:delete_user_by_idResponse"/>
        </wsdl:operation>
        <wsdl:operation name="delete_user_by_username" parameterOrder="delete_user_by_username">
            <wsdl:input name="delete_user_by_username" message="tns:delete_user_by_username"/>
            <wsdl:output name="delete_user_by_usernameResponse" message="tns:delete_user_by_usernameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="create_user_role" parameterOrder="create_user_role">
            <wsdl:input name="create_user_role" message="tns:create_user_role"/>
            <wsdl:output name="create_user_roleResponse" message="tns:create_user_roleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_user_roles" parameterOrder="get_user_roles">
            <wsdl:input name="get_user_roles" message="tns:get_user_roles"/>
            <wsdl:output name="get_user_rolesResponse" message="tns:get_user_rolesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update_user_role" parameterOrder="update_user_role">
            <wsdl:input name="update_user_role" message="tns:update_user_role"/>
            <wsdl:output name="update_user_roleResponse" message="tns:update_user_roleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_roles" parameterOrder="get_roles">
            <wsdl:input name="get_roles" message="tns:get_roles"/>
            <wsdl:output name="get_rolesResponse" message="tns:get_rolesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="verify_login_details" parameterOrder="verify_login_details">
            <wsdl:input name="verify_login_details" message="tns:verify_login_details"/>
            <wsdl:output name="verify_login_detailsResponse" message="tns:verify_login_detailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="logout" parameterOrder="logout">
            <wsdl:input name="logout" message="tns:logout"/>
            <wsdl:output name="logoutResponse" message="tns:logoutResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authorize" parameterOrder="authorize">
            <wsdl:input name="authorize" message="tns:authorize"/>
            <wsdl:output name="authorizeResponse" message="tns:authorizeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="verify_role_integrity" parameterOrder="verify_role_integrity">
            <wsdl:input name="verify_role_integrity" message="tns:verify_role_integrity"/>
            <wsdl:output name="verify_role_integrityResponse" message="tns:verify_role_integrityResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Application" type="tns:Application">
        <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create_user">
            <wsdlsoap11:operation soapAction="create_user" style="document"/>
            <wsdl:input name="create_user">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="create_userResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_usersnames">
            <wsdlsoap11:operation soapAction="get_usersnames" style="document"/>
            <wsdl:input name="get_usersnames">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_usersnamesResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_user_by_id">
            <wsdlsoap11:operation soapAction="get_user_by_id" style="document"/>
            <wsdl:input name="get_user_by_id">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_user_by_idResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_user_by_username">
            <wsdlsoap11:operation soapAction="get_user_by_username" style="document"/>
            <wsdl:input name="get_user_by_username">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_user_by_usernameResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_username">
            <wsdlsoap11:operation soapAction="update_username" style="document"/>
            <wsdl:input name="update_username">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="update_usernameResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_password">
            <wsdlsoap11:operation soapAction="update_password" style="document"/>
            <wsdl:input name="update_password">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="update_passwordResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_user_by_id">
            <wsdlsoap11:operation soapAction="delete_user_by_id" style="document"/>
            <wsdl:input name="delete_user_by_id">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="delete_user_by_idResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete_user_by_username">
            <wsdlsoap11:operation soapAction="delete_user_by_username" style="document"/>
            <wsdl:input name="delete_user_by_username">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="delete_user_by_usernameResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="create_user_role">
            <wsdlsoap11:operation soapAction="create_user_role" style="document"/>
            <wsdl:input name="create_user_role">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="create_user_roleResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_user_roles">
            <wsdlsoap11:operation soapAction="get_user_roles" style="document"/>
            <wsdl:input name="get_user_roles">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_user_rolesResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_user_role">
            <wsdlsoap11:operation soapAction="update_user_role" style="document"/>
            <wsdl:input name="update_user_role">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="update_user_roleResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_roles">
            <wsdlsoap11:operation soapAction="get_roles" style="document"/>
            <wsdl:input name="get_roles">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_rolesResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verify_login_details">
            <wsdlsoap11:operation soapAction="verify_login_details" style="document"/>
            <wsdl:input name="verify_login_details">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verify_login_detailsResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <wsdlsoap11:operation soapAction="logout" style="document"/>
            <wsdl:input name="logout">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="logoutResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <wsdlsoap11:operation soapAction="authorize" style="document"/>
            <wsdl:input name="authorize">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="authorizeResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verify_role_integrity">
            <wsdlsoap11:operation soapAction="verify_role_integrity" style="document"/>
            <wsdl:input name="verify_role_integrity">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verify_role_integrityResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>